*{
  padding: 0;
  margin: 0;
}
#cuerpo{
background: #052f6e;
}
#eslogan{
  font-family: 'Bodoni Moda', serif;
  font-size: 250%;
}
#proximamente{
  font-family: 'Bodoni Moda', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
}
.list-group-item{
  color: #052f6e;
}
h1{
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  color:white;
}
label{
  font-size: 3.3vh;
  margin-bottom: 1vh;
  margin-left: 1vh;
}
.form-check-input{
  height: 3.3vh;
  width: 3.3vh;
}
input{
  height: 4vh;
}
.form-group{
  margin-bottom: 2vh;
}
p{
  font-size: 3vh;
  margin-left: 3.5vh;
  margin-bottom: 1.5vh;
}
