*{
  padding: 0;
  margin: 0;
}
#cuerpo{
background: #052f6e;
}
#eslogan{
  font-family: 'Bodoni Moda', serif;
  font-size: 250%;
}
#proximamente{
  font-family: 'Bodoni Moda', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
}
.list-group-item{
  color: #052f6e;
}
h1{
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  color:white;
}
