*{
  padding: 0;
  margin: 0;
}
#cuerpo{
background: #052f6e;
}
#eslogan{
  font-family: 'Bodoni Moda', serif;
  font-size: 250%;
}
#proximamente{
  font-family: 'Bodoni Moda', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
}
